%html
  %head
    %title kancolle!
  %body
    %form{action: '/', method: 'post'}
      %input{type: 'text',name: 'id'}
      %input{type: 'password', name: 'password'}
      %input{type: 'submit'}
    - if has_cookie
      %a{href: '/stored'}login with cookie
      %br
      %a{href: '/logout'}clear session


