%html
  %head
    %title kancolle!
  %body
    %form{action: '/', method: 'post'}
      %input{type: 'text',name: 'id'}
      %input{type: 'password', name: 'password'}
      %input{type: 'submit'}


