%html
  %head
    %title kancolle!
  %body
    %form{action: '/', method: 'post'}
      %input{type: 'text',name: 'id'}
      %input{type: 'password', name: 'password'}
      %input{type: 'submit'}
    - if game_url
      %a{href: game_url}login
      %br
      %a{href: '/logout'}clear session


